<%- include('partials/header'); -%>
<div class="container">
  <h1 class="post-page-heading"><%= title %></h1>
  <p class="post-page-date"><%= date %></p>
  <hr />
  <p class="post-page-content"><%= content %></p>
</div>
<%- include('partials/footer'); -%>
